*{
    padding:0;
    margin:0;
    box-sizing: border-box;
  }
  
  body{
    -webkit-font-smoothing:acntialiased;
    font-family: "Raleway-regular";
   
  }
  ul{
    padding:0;
    margin:0;
    list-style: none;
  }
  container{
    max-width: 1170px;
    padding-left: 25px;
    padding-right: 25px;
    margin-left: auto;
    margin-right: auto;
  }
 
header{
  background-color: brown;
  padding: 10px;

}
header .logo{
  height:"80rem";
   width:"80rem";
}
  header nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  header .navbar{
    list-style: none;
    margin: 0;
    padding: 0;
display: flex;
  }
  header .navbar a{
    display: block;
    text-decoration: none;
    color: black;
    margin: 0 10px;
    font-size:22px ;
  }

  .hero-section{
    position: relative;
    height: 100vh;
    overflow: hidden;
    outline: 1px solid red;
  }
 .hero-section img{
   width: 100%;
   }
 .hero-section h1{
   font-size: 50px;
   margin-bottom: 10px;
 }
 .hero-section .hero-section-content{
position: absolute;
top: 0;
bottom: 0;
max-width: 500px;
background-color: wheat;
padding: 30px 60px;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
 }
.gallery-section h2{
  margin-bottom: 30px;
  margin-top: 10px;
}
 .gallery-section .gallery-list{
   display: flex;
   gap: 30px;
   flex-wrap: wrap;
 }
 .gallery-section .gallery-list img{
   height:100%;
   width: 100%;
 }
 .gallery-section .gallery-list li{
   flex: 1 1 200px;
   
 }